In [4]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [3]:
weather_data_df = pd.read_csv("../Output Data/cities.csv")
weather_data_df.head(10)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Khedbrahma,100,IN,1627948474,90,24.0333,73.0500,77.31,9.69
1,1,Butaritari,57,KI,1627948474,73,3.0707,172.7902,82.42,4.14
2,2,Yellowknife,75,CA,1627948372,22,62.4560,-114.3525,90.12,6.91
3,3,Salina Cruz,87,MX,1627948474,60,16.1667,-95.2000,88.97,8.93
4,4,Qaanaaq,94,GL,1627948474,66,77.4840,-69.3632,45.27,0.78
5,5,Sabzawār,3,IR,1627948475,17,36.2126,57.6819,77.05,11.72
6,6,Kapaa,7,US,1627948475,86,22.0752,-159.3190,87.78,5.01
7,7,Chokurdakh,55,RU,1627948475,43,70.6333,147.9167,52.16,9.37
8,8,Port Lincoln,70,AU,1627948476,61,-34.7333,135.8667,53.42,19.53
9,9,Narsaq,94,GL,1627948476,96,60.9167,-46.0500,44.74,6.76

In [4]:
#configure GMAPS
gmaps.configure(api_key=g_key)

In [5]:
#locations for cities
locations = weather_data_df[['Lat', 'Lng']]

In [6]:
#storing Humidity
humidity = weather_data_df['Humidity']

In [7]:
#Plotting Heatmap
fig = gmaps.figure(center=(46, -5), zoom_level=1)

#Creating heatlayer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, point_radius=3, max_intensity=100)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Narrowing down to Ideal Conditions
#Temp between 70 degrees and 80 degrees
#Wind Speed <10mph
#Cloudiness=0

ideal_df = weather_data_df.loc[(weather_data_df['Wind Speed'] <= 10) &
                               (weather_data_df['Cloudiness']==0) &(weather_data_df['Max Temp'] >= 70) & (weather_data_df['Max Temp'] <= 80)]

In [9]:
ideal_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
120,120,Sangar,0,RU,1627948507,32,63.9242,127.4739,72.32,8.12
162,162,Luanda,0,AO,1627948317,94,-8.8368,13.2343,71.60,9.22
195,195,Mahon,0,ES,1627948528,68,39.8885,4.2658,73.96,4.61
198,198,Mizdah,0,LY,1627948529,32,31.4451,12.9801,79.50,8.66
216,216,Murgab,0,TM,1627948534,14,37.4966,61.9714,78.03,8.39
220,220,Bobo-Dioulasso,0,BF,1627948535,88,11.1771,-4.2979,77.45,3.44
321,321,Noumea,0,NC,1627948563,99,-22.2763,166.4572,73.00,7.31
357,357,Marrakesh,0,MA,1627948574,60,31.6315,-8.0083,73.47,8.05
367,367,Dawlatabad,0,AF,1627948577,16,36.4141,64.9053,79.93,5.84
378,378,Vila Velha,0,BR,1627948580,81,-20.3297,-40.2925,72.97,0.00
417,417,Fiumicino,0,IT,1627948590,77,41.7675,12.2291,76.48,2.30
450,450,Farah,0,AF,1627948599,16,32.5000,62.5000,77.92,5.19
532,532,Heraclea,0,TR,1627948622,44,37.5133,34.0467,70.25,7.31

In [10]:
ideal_df = ideal_df.drop(columns=['Unnamed: 0'])

In [11]:
ideal_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
120,Sangar,0,RU,1627948507,32,63.9242,127.4739,72.32,8.12
162,Luanda,0,AO,1627948317,94,-8.8368,13.2343,71.60,9.22
195,Mahon,0,ES,1627948528,68,39.8885,4.2658,73.96,4.61
198,Mizdah,0,LY,1627948529,32,31.4451,12.9801,79.50,8.66
216,Murgab,0,TM,1627948534,14,37.4966,61.9714,78.03,8.39
220,Bobo-Dioulasso,0,BF,1627948535,88,11.1771,-4.2979,77.45,3.44
321,Noumea,0,NC,1627948563,99,-22.2763,166.4572,73.00,7.31
357,Marrakesh,0,MA,1627948574,60,31.6315,-8.0083,73.47,8.05
367,Dawlatabad,0,AF,1627948577,16,36.4141,64.9053,79.93,5.84
378,Vila Velha,0,BR,1627948580,81,-20.3297,-40.2925,72.97,0.00
417,Fiumicino,0,IT,1627948590,77,41.7675,12.2291,76.48,2.30
450,Farah,0,AF,1627948599,16,32.5000,62.5000,77.92,5.19
532,Heraclea,0,TR,1627948622,44,37.5133,34.0467,70.25,7.31

In [12]:
#Finding closest hotel in each city

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type": "hotel",
         "keyword": "hotel",
         "radius": 5000,
         "key": g_key}

ideal_df['Hotel Name'] = ""

In [13]:
ideal_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
120,Sangar,0,RU,1627948507,32,63.9242,127.4739,72.32,8.12,
162,Luanda,0,AO,1627948317,94,-8.8368,13.2343,71.60,9.22,
195,Mahon,0,ES,1627948528,68,39.8885,4.2658,73.96,4.61,
198,Mizdah,0,LY,1627948529,32,31.4451,12.9801,79.50,8.66,
216,Murgab,0,TM,1627948534,14,37.4966,61.9714,78.03,8.39,
220,Bobo-Dioulasso,0,BF,1627948535,88,11.1771,-4.2979,77.45,3.44,
321,Noumea,0,NC,1627948563,99,-22.2763,166.4572,73.00,7.31,
357,Marrakesh,0,MA,1627948574,60,31.6315,-8.0083,73.47,8.05,
367,Dawlatabad,0,AF,1627948577,16,36.4141,64.9053,79.93,5.84,
378,Vila Velha,0,BR,1627948580,81,-20.3297,-40.2925,72.97,0.00,
417,Fiumicino,0,IT,1627948590,77,41.7675,12.2291,76.48,2.30,
450,Farah,0,AF,1627948599,16,32.5000,62.5000,77.92,5.19,
532,Heraclea,0,TR,1627948622,44,37.5133,34.0467,70.25,7.31,

In [38]:
for index, row in ideal_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        ideal_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Retrieving Results for Index 120: Sangar.
Closest hotel in Sangar is Sberbank.
Retrieving Results for Index 162: Luanda.
Closest hotel in Luanda is EPIC SANA Luanda.
Retrieving Results for Index 195: Mahon.
Closest hotel in Mahon is Jardí de ses Bruixes Boutique Hotel.
Retrieving Results for Index 198: Mizdah.
Closest hotel in Mizdah is فندق مزدة الكبير.
Retrieving Results for Index 216: Murgab.
Missing field/result... skipping.
Retrieving Results for Index 220: Bobo-Dioulasso.
Closest hotel in Bobo-Dioulasso is Hôtel L´Auberge ***.
Retrieving Results for Index 321: Noumea.
Closest hotel in Noumea is Hilton Noumea La Promenade Residences.
Retrieving Results for Index 357: Marrakesh.
Closest hotel in Marrakesh is La Mamounia.
Retrieving Results for Index 367: Dawlatabad.
Missing field/result... skipping.
Retrieving Results for Index 378: Vila Velha.
Closest hotel in Vila Velha is Golden Tulip Porto Vitória.
Retrieving Results for Index 417: Fiumicino.
Closest hotel in Fiumicino is Hotel Isola Sacra.
Retrieving Results for Index 450: Farah.
Missing field/result... skipping.
Retrieving Results for Index 532: Heraclea.
Closest hotel in Heraclea is CHERRY GARDEN CITY&SPA HOTEL.

In [39]:
ideal_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name,"(120, Hotel Name)","(162, Hotel Name)","(195, Hotel Name)","(198, Hotel Name)","(220, Hotel Name)","(321, Hotel Name)","(357, Hotel Name)","(378, Hotel Name)","(417, Hotel Name)","(532, Hotel Name)"
120,Sangar,0,RU,1627948507,32,63.9242,127.4739,72.32,8.12,Sberbank,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
162,Luanda,0,AO,1627948317,94,-8.8368,13.2343,71.60,9.22,EPIC SANA Luanda,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
195,Mahon,0,ES,1627948528,68,39.8885,4.2658,73.96,4.61,Jardí de ses Bruixes Boutique Hotel,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
198,Mizdah,0,LY,1627948529,32,31.4451,12.9801,79.50,8.66,فندق مزدة الكبير,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
216,Murgab,0,TM,1627948534,14,37.4966,61.9714,78.03,8.39,CHERRY GARDEN CITY&SPA HOTEL,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
220,Bobo-Dioulasso,0,BF,1627948535,88,11.1771,-4.2979,77.45,3.44,Hôtel L´Auberge ***,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
321,Noumea,0,NC,1627948563,99,-22.2763,166.4572,73.00,7.31,Hilton Noumea La Promenade Residences,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
357,Marrakesh,0,MA,1627948574,60,31.6315,-8.0083,73.47,8.05,La Mamounia,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
367,Dawlatabad,0,AF,1627948577,16,36.4141,64.9053,79.93,5.84,CHERRY GARDEN CITY&SPA HOTEL,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
378,Vila Velha,0,BR,1627948580,81,-20.3297,-40.2925,72.97,0.00,Golden Tulip Porto Vitória,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
417,Fiumicino,0,IT,1627948590,77,41.7675,12.2291,76.48,2.30,Hotel Isola Sacra,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
450,Farah,0,AF,1627948599,16,32.5000,62.5000,77.92,5.19,CHERRY GARDEN CITY&SPA HOTEL,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL
532,Heraclea,0,TR,1627948622,44,37.5133,34.0467,70.25,7.31,CHERRY GARDEN CITY&SPA HOTEL,Sberbank,EPIC SANA Luanda,Jardí de ses Bruixes Boutique Hotel,فندق مزدة الكبير,Hôtel L´Auberge ***,Hilton Noumea La Promenade Residences,La Mamounia,Golden Tulip Porto Vitória,Hotel Isola Sacra,CHERRY GARDEN CITY&SPA HOTEL

In [42]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in ideal_df.iterrows()]
locations = ideal_df[["Lat", "Lng"]]

In [43]:
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

In [45]:
fig.add_layer(markers)

In [46]:
fig

Figure(layout=FigureLayout(height='420px'))